.DataBlock
{
	background-color:var(--FullWhite);
	width:23%;
	min-width:20em;
	height:auto;
	float:left;
	padding:0%;
	margin:1%;
}

.DataBlock div
{
	width:100%;
	height:auto;
	float:left;
	clear:both;
	margin:0%;
	padding:0%;
}

.DataBlock div input
{
	color:var(--FullWhite);
	text-shadow:none;
	font-size:100%;
	width:6em;
	min-Width:4em;
	text-align:center;
	cursor:pointer;
	margin:1% 0% 0.5% 0%;
	padding:1%;
}

.DataBlock div input[type="submit"]
{
	background-color:var(--MainButtonColor);
	float:left;
	margin:2%;
	transition:transform 0.25s, background-color 0.25s, text-shadow 0.25s;
}

.DataBlock div input[type="submit"]:disabled
{
	background-color:var(--MiddleGreyNeutral);
	float:left;
	margin:2%;
}

.DataBlock div input[type="submit"]:disabled:hover
{
	background-color:var(--MiddleGreyNeutral);
	cursor:initial;
	text-shadow:0px 0px 0px var(--FullBlack);
	transform:scale(1);
}

.DataBlock div input[type="submit"]:hover
{
	background-color:rgba(235, 120, 120);
	text-shadow:0px 0px 4px var(--FullWhite);
	transform:scale(1.1);
}

.DataBlock div input[type="submit"]:last-child
{
	background-color:var(--MainButtonColor);
	float:right;
}

.DataBlock div input[type="submit"]:last-child:disabled
{
	background-color:var(--MiddleGreyNeutral);
}

.DataBlock div input[type="submit"]:last-child:hover
{
	background-color:rgba(235, 225, 120, 1);
	text-shadow:0px 0px 4px var(--FullWhite);
	transform:scale(1.1);
}

.DataBlock div input[type="submit"]:last-child:disabled:hover
{
	background-color:var(--MiddleGreyNeutral);
	cursor:initial;
	text-shadow:0px 0px 0px var(--FullBlack);
	transform:scale(1);
}

.DataBlock div > div
{
	background-color:var(--MainButtonColor);
	color:var(--FullWhite);
	width:86%;
	margin:0.25% 5%;
	padding:2%;
}

.DataBlock div > div:first-child
{
	background-color:rgba(21, 41, 119, 1);
	width:100%;
	height:auto;
	text-align:center;
	margin:0% 0% 2% 0%;
	padding:2% 0%;
}

.DataBlock div div > div:first-child
{
	background-color:var(--FullBlack);
	width:40%;
	text-align:left;
	float:left;
	clear:left;
	margin:0%;
	padding:0%;
}

.DataBlock div div > div:last-child
{
	width:60%;
	text-align:right;
	float:right;
	clear:right;
	margin:0%;
	padding:0%;
}
