.Footer
{
	background-color:var(--DarkGreyWarmTemp);
	color:var(--FullWhite);
	width:100%;
	height:auto;
	float:left;
	clear:both;
	z-index:-1;
}

.Footer div
{
	width:100%;
	height:auto;
	border-top-width:0.1875em;
	border-top-style:solid;
	border-top-color:var(--MiddleGreyWarmTemp);
	float:left;
	clear:both;
}
