
.Footer
{
	background-color:rgba(251, 245, 109, 1);
	width:100%;
	height:200px;
	float:left;
	clear:both;
}

.Footer div
{
	width:100%;
	height:200px;
	border-top-width:0.125em;
	border-top-style:solid;
	border-top-color:rgba(0,0,0,1);
	float:left;
	clear:both;
}
