.Header
{
	background-color:rgba(255, 255, 255, 1);
	width:100%;
	height:auto;
	margin:0%;
	padding:0%;
	float:Left;
	clear:both;
	z-index:-1;
}

.Header > div
{
	width:100%;
	height:auto;
	border-bottom-width:0.1875em;
	border-bottom-style:solid;
	border-bottom-color:rgba(50,52,48,1);
	margin:0%;
	padding:0%;
	float:left;
	clear:none;
}

.HeaderTitle
{
	width:75%;
	height:100%;
	text-align:center;
	float:left;
	clear:both;
}

.HeaderTitle > h1
{
	padding:4% 0% 0% 0%;
}

.Login
{
	background-color:rgba(110, 118, 122, 1);
	color:rgba(255,255,255,1);
	width:25%;
	margin:0%;
	padding:0%;
	float:left;
	clear:right;
}

.Login > div
{
	width:99.5%;
	border-left-width:0.1875em;
	border-left-color:rgba(50,52,48,1);
	border-left-style:solid;
	float:left;
	clear:both;
}

.Login > div div
{
	width:96%;
	margin:1% 1%;
	padding:1%;
	float:left;
	clear:both;
}

.Login > div div div
{
	background-color:rgba(120, 140, 255, 1);
}

.Login > div div:nth-child(2) > input
{
	background-color:rgba(120, 140, 255, 1);
	color:inherit;
	float:right;
}

.Login > div div > div:first-child
{
	background-color:rgba(255,255,255,0);
	width:98%;
	margin:0% 0% 3% 0%;
	text-align:center;
	clear:both;
}

.Login > div div div > input
{
	width:100%;
	float:left;
	clear:both;
}

.Login > div div div > div:nth-child(1)
{
	background-color:rgba(255,255,255,0);
	width:45%;
	height:auto;
	padding:0%;
	margin:0%;
	text-align:left;
	float:left;
	clear:left;
}

.Login > div div div > div:nth-child(2)
{
	background-color:rgba(255,255,255,0);
	width:45%;
	height:auto;
	padding:0%;
	text-align:center;
	float:right;
	clear:right;
}

.Login > div div div div:nth-child(2) > input
{
	background-color:rgba(255, 255, 255, 1);
	color:rgba(0,0,0,1);
	height:100%;
	padding:0%;
	float:right;
	clear:both;
}

.LogedIn
{
	background-color:rgba(110, 118, 122, 1);
	color:rgba(255,255,255,1);
	width:25%;
	float:left;
	clear:right;
}

.LogedIn > div
{
	width:99.5%;
	border-left-width:0.1875em;
	border-left-color:rgba(50,52,48,1);
	border-left-style:solid;
	float:right;
	clear:both;
}

.LogedIn div div
{
	width:100%;
	margin:0% 0% 5% 0%;
	float:left;
	clear:both;
}

.LogedIn div > div > div
{
	text-align:center;
	margin:0%;
}

.LogedIn div > div > div:first-child
{
	background-color:rgba(120, 140, 255, 1);
	margin:0% 0% 5% 0%;
}
