@media screen and (min-width: 640px)
{
	.MenuWindow
	{
		width:auto;
		height:720px;
		float:left;
		clear:both;
		position:fixed;
		z-index:1;
	}
}

@media screen and (min-width: 1280px)
{
	.MenuWindow
	{
		width:auto;
		height:1080px;
		float:left;
		clear:both;
		position:fixed;
		z-index:1;
	}
}

@media screen and (min-width: 2560px)
{
	.MenuWindow
	{
		width:auto;
		height:1800px;
		float:left;
		clear:both;
		position:fixed;
		z-index:1;
	}
}

@media screen and (min-width: 3840px)
{
	.MenuWindow
	{
		width:auto;
		height:2160px;
		float:left;
		clear:both;
		position:fixed;
		z-index:1;
	}
}

@media screen and (min-width: 4096px)
{
	.MenuWindow
	{
		width:auto;
		height:2880px;
		float:left;
		clear:both;
		position:fixed;
		z-index:1;
	}
}

@media screen and (min-width: 7680px)
{

	.MenuWindow
	{
		width:auto;
		height:4320px;
		float:left;
		clear:both;
		position:fixed;
		z-index:1;
	}
}

.MainMenu
{
	background-color:var(--DarkGreyWarmTemp);
	width:25%;
	height:100%;
	min-width:200px;
	max-width:300px;
	margin:0%;
	padding:0%;
	float:left;
	clear:left;
	display:none;
}

.MainMenu div
{
	width:100%;
	height:100%;
	border-right:0.1875em solid var(--MiddleGreyWarmTemp);
	padding:1% 0%;
	margin:0%;
	float:left;
	clear:both;
}

.MainMenu div a .MainMenuButton
{
	background-color:var(--MainButtonColor);
	color:var(--FullWhite);
	width:83%;
	height:auto;
	border:0.1em solid var(--FullBlack);
	padding:5%;
	margin:0% 2.5% 5% 2.5%;
	transition: background-color 0.25s, border-color 0.25s, box-shadow 0.25s, text-shadow 0.25s, transform 0.25s;
}

.MainMenu div a .MainMenuButton:hover
{
	background-color:var(--MainButtonHoverColor);
	border-color:var(--FullWhite);
	box-shadow: 0px 0px 5px var(--FullWhite);
	text-shadow:0px 0px 4px var(--FullWhite);
	transform:scale(1.1);
}

.MainMenu p
{
	text-align:center;
}

.MenuButton
{
	background-color:rgba(100,100,0,1);
	width:30px;
	height:30px;
	margin:25% 0%;
	float:left;
	clear:right;
}
